<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

    <properties>
        <property name="logPath">logs</property>
    </properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!--添加一个文本追加器，文件位于根目录下，名为log.log-->
        <!--<File name="File" fileName="log.log">-->
        <!--<PatternLayout>-->
        <!--<pattern>[%-5p] %d %c - %m%n</pattern>-->
        <!--</PatternLayout>-->
        <!--</File>-->
        <RollingRandomAccessFile name="File" immediateFlush="true" filename="${logPath}/controller.log"
                                 filepattern="${logPath}/controller-%d{yyyy-MM-dd}-%i.log" append="true">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p - %msg%n"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB" />
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="${logPath}" maxDepth="2">
                    <IfFileName glob="controller*.log"/>
                    <IfLastModified age="3d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>
    </appenders>
    <loggers>
        <!--<root level="error">-->
        <!--<appender-ref ref="Console"/>-->
        <!--</root>-->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        　　　　<!--把org.springframework包下的所有日志输出到log文件，additivity="false"表示不输出到控制台-->
        <Logger name="cn.watson.rent.web" level="info" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
    </loggers>
</configuration>