
# Default ignored files
/workspace.xml
### Example user template template
### Example user template

# IntelliJ project files
#.idea
#*.iml
#out
#gen
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/*
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


log/
file/
db/
**/*.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans